.headline {
    font-size: 2.5rem;
    font-weight: 500;
    color: $mainGreen;

    @mixin atSmall {
        font-size: 2.875rem;
    }

    &--black {
        color: $mainBlack;
    }

    &--small {
        font-size: 1.875rem;
    }

    &--b-margin-small {
        margin-bottom: .6em;
    }

    &--no-t-margin {
        margin-top: 0;
    }
}