.section-title {
    font-size: 2.55rem;
    text-align: center;
    margin-top: 6rem;

    @mixin atSmall {
        font-size: 3.75rem;
        margin-top: 8rem;
    }

    &__icon {
        max-height: 5.5rem;
        display: block;
        padding-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;

        @mixin atSmall {
            padding-top: 0;
            margin-right: .5rem;
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;
        }
    }
}