.work {
    background-color: $mainPink;
    padding: 0 18px 1px 18px;
    margin-bottom: 10px;
    
    @mixin atLarge {
        padding: 0 1.8125rem 1px 1.8125rem;
        margin-bottom: 0;
    }

    &__photo {
        width: 81px;
        height: 95px;
        margin: 1.75rem auto 0 auto;
    }

    &__title {
        text-align: center;
        font-size: 1.4rem;
        margin: .75em;
    }

    &__text {
        line-height: 2;
    }
}